VITE_SUPABASE_URLhttps://kztjouywtnorkbvmtpwa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6dGpvdXl3dG5vcmtidm10cHdhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY3NzE1NDYsImV4cCI6MjA4MjM0NzU0Nn0.0k2Z62bwVv7UKOf6XIOkxxM2oC1Gs_nGap93BblW-VA


# Resend API Key
VITE_RESEND_API_KEY=re_NCRsS3bV_ByPZwpysDvrToxbD4CTwkX9e

# Owner Info
VITE_OWNER_EMAIL=bnontsofy@gmail.com
VITE_OWNER_PHONE=07711170485
